body {
    background-color: rgb(87, 178, 214)
}

.gif {
    float: left;
}

img {
    margin-right: 15px;
    margin-left: 15px;
}

#header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}