body {
    background-color: rgb(87, 178, 214)
}

.gif {
    float: left;
}

img {
    margin-right: 15px;
    margin-left: 15px;
}

#header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: teal;
    font-family: 'Orbitron', sans-serif;
}

button {
    margin-left: 5px;
}

#topic-form {
    margin-top: 10px;
    margin-left: 5px;
}

p {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* font-family: 'Righteous', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Orbitron', sans-serif; */